@import url("nav.css");

h1.title {
	text-align: center;
	font-size: 50px;
}

.content, .books_container, .searchContainer {
	width: 95%;
	margin: auto;
	position: relative;
}

.books_container {
	position: relative;
	overflow: hidden;
}

.content img {
	width: 50px;
}

table.books, .next, .previous {
	transition: 0.4s;
	width: 92%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

table.books button, .button_add_container button.button_add,
	.brokenButton button {
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	font-size: 25px;
	border-radius: 50%;
	line-height: 40px;
	color: #dfe6e9;
}

table.books button:first-child, .brokenButton button.removeBrokenBtn,
	button.undoBtn {
	background-color: #c0392b;
}

table.books button.modifyBtn, .brokenButton button.modifyBrokenBtn {
	background-color: #27ae60;
}

table.books button.modifyBtn:hover, .brokenButton button.modifyBrokenBtn:hover
	{
	background-color: #2ecc71;
}

table.books button.setManagerBtn {
	background-color: #f39c12;
}

table.books button:first-child:hover, .brokenButton button.removeBrokenBtn:hover,
	button.undoBtn:hover {
	background-color: #e74c3c;
}

table.books button.setManagerBtn:hover {
	background-color: #f1c40f;
}

.moveRight {
	left: 0 !important;
	top: 50% !important;
	visibility: hidden;
	opacity: 0;
	transform: translate(100%, -50%) !important;
}

.moveLeft {
	left: 0 !important;
	top: 50% !important;
	transform: translate(-100%, -50%) !important;
	visibility: hidden;
	opacity: 0;
}

div.pages {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: fit-content;
	margin: -2px 0;
}

span.previous, span.next {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	cursor: pointer;
	background-color: #0984e3;
	border-radius: 50%;
	color: #2d3436;
	transition: 0.4s;
}

span.previous {
	left: 2%;
}

span.next {
	left: 98%;
}

span.previous:hover, span.next:hover, div.pages span:hover {
	color: #dfe6e9;
	background-color: #00cec9;
}

div.pages span {
	margin: 0 -1px;
	background-color: #0984e3;
	color: #2d3436;
	font-size: 20px;
	font-weight: 900;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	transition: 0.4s;
}

table.books, table.books th, table.books td {
	border: 1px solid grey;
	border-collapse: collapse;
}

table.books tbody tr:first-child {
	background-color: #718093;
	color: #f5f6fa;
	font-size: 20px;
}

.add_form, .brokenContainer {
	background-color: #95afc0;
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.4s;
	width: 900px;
	border-radius: 28px;
	opacity: 0;
	visibility: hidden;
}

.add_form.appear, .brokenContainer.appear {
	opacity: 1;
	visibility: visible;
}

.add_form form {
	width: 100%;
	height: 100%;
}

.add_form form h2, .brokenContainer h1 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin: 10px 0;
}

.add_form form div {
	margin: 30px 20px;
	padding: 0 100px;
}

.add_form form input, .add_form form select, .brokenContainer input {
	float: right;
	width: 360px;
	height: 30px;
	font-size: 18px;
	border: none;
	padding: 0 10px;
	border-radius: 15px;
}

.add_form form label {
	font-size: 18px;
	font-weight: 900;
}

.add_form form button {
	width: 200px;
	height: 30px;
	margin: 10px auto;
	background-color: #6ab04c;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.4s;
	font-size: 20px;
	font-weight: 800;
	line-height: 30px;
}

.add_form form div:last-child {
	text-align: center;
}

table.books tr {
	height: 60px;
	font-size: 18px;
	font-weight: 600;
	transition: 0.4s;
}

html, body {
	/* min-width: 1460px; */
	position: relative;
	background-color: #f5f6fa;
	height: 100vh;
}

.button_add_container button.button_add {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #0097e6;
	z-index: 998;
}

.button_add_container button.button_add:hover {
	background-color: #00a8ff;
	color: #353b48;
}

.slide_active {
	
}

div.pages .page_active {
	background-color: #f1c40f;
}

.add_form h2 i {
	float: right;
	cursor: pointer;
	color: #e74c3c;
	transition: 0.4s;
}

.add_form h2 i:after {
	content: "";
	clear: both;
}

.add_form h2 i:hover {
	color: #c0392b;
}

table.books tr:hover {
	background-color: #00a8ff;
}

table.books tr:first-child:hover {
	background-color: #718093;
}

table th:last-child, table td:last-child {
	width: 135px;
	min-width: 130px;
}

.searchContainer {
	display: none;
}

.broken, .addBrokenContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	margin: auto;
}

div.brokenButton {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100%; */
}

.brokenInfo input {
	width: 200px;
	margin-left: 46px;
}

.brokenInfo div {
	height: 30px;
}

.addBrokenContainer input {
	float: none;
}

.addBrokenContainer {
	flex-direction: column;
	margin: 10px auto;
}

button.addBrokenBtn {
	margin-top: 10px;
}

.addBrokenContainer div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 0;
}

.addBrokenContainer label.brokenLevelAdd, .addBrokenContainer label.brokenFineAdd
	{
	position: relative;
}

label.brokenLevelAdd::before, label.brokenFineAdd::before, button.addBrokenBtn:after
	{
	content: "Required";
	position: absolute;
	left: -180%;
	top: 50%;
	transform: translate(0, -50%) scale(0);
	color: red;
	transition: 0.4s;
	text-align: center;
	width: 150px;
}

label.invalidBrokenLevel::before {
	content: "Must be a number"
}

label.amountBrokenLevel::before {
	content: "Must be between 0 and 100"
}

button.addBrokenBtn.addSuccessfull:after {
	content: "Add broken level successfully";
	left: 90%;
	width: 100%;
	top: 30%;
}

button.addBrokenBtn.removeSuccessfull:after {
	content: "Remove broken level successfully";
	left: 90%;
	width: 100%;
	top: 30%;
}

button.addBrokenBtn.updateSuccessfull:after {
	content: "Update broken level successfully";
	left: 90%;
	width: 100%;
	top: 30%;
}

.addBrokenContainer 
label.brokenLevelAdd.emptyBrokenLevel::before, .addBrokenContainer 
label.brokenFineAdd.emptyBrokenLevel::before, .addBrokenContainer 
label.brokenLevelAdd.invalidBrokenLevel::before, .addBrokenContainer 
label.brokenFineAdd.invalidBrokenLevel::before, .addBrokenContainer 
label.brokenLevelAdd.amountBrokenLevel::before, .addBrokenContainer 
label.brokenFineAdd.amountBrokenLevel::before, button.addBrokenBtn.addSuccessfull:after,
button.addBrokenBtn.removeSuccessfull:after,
button.addBrokenBtn.updateSuccessfull:after
	{
	transform: translate(0, -50%) scale(1);
}

button.addBrokenBtn {
	position: relative;
}