@import url("nav.css");

h1.title {
	text-align: center;
	font-size: 50px;
}

.content, .books_container {
	width: 95%;
	margin: auto;
	position: relative;
}

.books_container {
	position: relative;
	overflow: hidden;
}