@import url("nav.css");

body, html {
	width: 100%;
	height: 100%;
	position: relative;
	min-width: 1000px;
}

.content {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content img {
	width: 60px;
	margin: 5px 0 0 0;
}

.studentBookInfoContainer {
	width: 80%;
	background-color: #74b9ff;
	padding: 20px 20px;
	border-radius: 25px;
	min-width: 600px;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 500px;
}

.studentBookInfoContainer label, .studentBookInfoContainer input,
	.content2 input {
	font-size: 25px;
	font-weight: bolder;
	width: 48%;
}

.studentResult, .bookResult, .staffInfo, .student, .book {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border: 1px solid grey;
	border-radius: 10px;
	margin: 10px;
	position: relative;
}

.studentResultLeft, .bookResultLeft, .studentResultRight,
	.bookResultRight {
	width: 70%;
}

.content input, .content2 input {
	/* width: 250px; */
	height: 35px;
	font-size: 21px;
	padding-left: 5px;
	border: none;
	border-radius: 6px;
}

.student, .book {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	flex-wrap: wrap;
	border: none;
	border-radius: 0;
}

.studentResults, .bookResults, .listBooks {
	max-height: 250px;
	overflow: auto;
	min-height: 50px;
}

.listBooksContainer, .bookResultsContainer, .studentResultsContainer {
	border: 1px solid grey;
	padding: 20px;
	margin: 20px 0;
}

.studentInfo, .bookInfo {
	position: relative;
	margin: 0 0 40px 0;
}

.studentResultsContainer, .bookResultsContainer {
	position: absolute;
	width: -webkit-fill-available;
	bottom: -58%;
	transform: translateY(100%);
	border-radius: 10px;
	background-color: #f5f6fa;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
	z-index: 2;
	max-height: 500px;
}

.listBooksContainer {
	width: -webkit-fill-available;
	border-radius: 10px;
	background-color: #95afc0;
}

.studentResultsContainerAppear, .bookResultsContainerAppear {
	opacity: 1;
	visibility: visible;
}

.returnFeature {
	display: none;
}

.studentResultsContainer .studentResults, .bookResultsContainer .bookResults
	{
	max-height: 250px;
}

.feature {
	position: fixed;
	z-index: 10; /* width: 100%; */
	text-align: center;
	padding: 50px 0;
	left: 100%;
	top: 50%;
	transform: translate(-100%, -50%);
}

.featureBtn {
	width: 150px;
	height: 40px;
	border: none;
	background-color: #e74c3c;
	font-size: 20px;
	color: #2c3e50;
	transition: 0.4s;
	cursor: pointer;
	font-weight: 800;
}

.featureBtn:hover {
	background-color: #feca57;
	color: #ecf0f1;
}

.featureBtnActive {
	background-color: #feca57;
}

.generatingOrReturning {
	padding: 10px 0;
}

.chechOutBtn {
	display: inline-block;
}

.staffInfo .studentResult:after, .studentBorrow .studentResult:after {
	content: "Staff";
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(10%, -10px);
	background-color: grey;
	width: 50px;
	font-size: 20px;
	color: white;
	font-weight: bolder;
}

.studentBorrow .studentResult:after {
	content: "Student";
	width: 70px
}

.enableBook {
	background-color: red;
}

.enableBookTake {
	background-color: #4cd137;
}

.penalties div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bookResultRight.return {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.penalties label {
	font-size: 15px;
	display: contents;
	width: 49%;
}

.penalties input {
	width: 18px;
}

.penalties {
	width: 50%;
}

.returnInfo .bookResultLeft div, .takeBook .studentBorrow .bookResultLeft div
	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.returnInfo .bookResultLeft div h3 {
	display: inline-block;
	width: 50%;
}

.returnInfo .bookResultLeft div h3:first-child {
	text-align: left;
}

.returnInfo .bookResultLeft div h3:last-child {
	text-align: right;
}

.returnInfo div button, .takeInfo .search button {
	width: 80px;
	height: 30px;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
}

.content2 {
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}

.takeBook .book {
	justify-content: space-around;
	font-size: 25px;
}

.content2Appear {
	z-index: 4;
	opacity: 1;
	visibility: visible;
}

h2.takeBookTitle span:hover {
	color: #feca57;
}

.staffInfo {
	display: contents;
}

.reportContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0) rotate(0deg);
	background-color: #ecf0f1;
	min-width: 900px;
	padding: 10px 10px;
	z-index: 1000;
	border-radius: 10px;
	transition: 0.4s;
	opacity: 0;
	visibility: hidden;
	transform-origin: 50% 50%;
}

.reportContainerAppear {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

h2.big_title, .small_title, .report_date {
	text-align: center;
}

.borrow, .reservate, .return {
	text-align: center;
}

.borrow table, .reservate table, .return table {
	width: 100%;
}

.borrow table th, .reservate table th, .return table th {
	background-color: #95a5a6;
}

h5.small_title {
	letter-spacing: 2px;
	font-size: 20px;
}

h2.big_title {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 35px;
}

h4.report_date {
	font-size: 25px;
	border-bottom: 1px solid;
	padding: 5px 0;
}

.reservate {
	margin: 20px 0;
}

.borrow table tr, .reservate table tr, .return table tr {
	height: 30px;
}

button.sendReport {
	width: 100%;
	color: #2c3e50;
	background-color: #27ae60;
	transition: 0.4s;
}

button.sendReport:hover {
	background-color: #f1c40f;
	color: #ecf0f1;
}

.borrow table button, .reservate table button, .return table button {
	border: none;
	background-color: #3498db;
	width: 50px;
	height: 30px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 800;
	color: #130f40;
	transition: 0.4s;
}

th:last-child, th:first-child {
	width: 60px;
}

.borrow table button:hover, .reservate table button:hover, .return table button:hover
	{
	background-color: #9c88ff;
	color: #f5f6fa;
}

.studentResults, .bookResults, .listBooks {
	max-height: 250px;
	overflow: auto;
	min-height: 50px;
}

.listBooksContainer, .bookResultsContainer, .studentResultsContainer {
	border: 1px solid grey;
	padding: 20px;
	margin: 20px 0;
}

.studentInfo, .bookInfo {
	position: relative;
	margin: 0 0 40px 0;
}

.studentResultsContainer, .bookResultsContainer {
	position: absolute;
	width: -webkit-fill-available;
	bottom: -58%;
	transform: translateY(100%);
	border-radius: 10px;
	background-color: #f5f6fa;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
	z-index: 2;
	max-height: 500px;
}

.listBooksContainer {
	width: -webkit-fill-available;
	border-radius: 10px;
	background-color: #95afc0;
}

.studentResultsContainerAppear, .bookResultsContainerAppear {
	opacity: 1;
	visibility: visible;
}

.returnFeature {
	display: none !important;
}

.background img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	min-width: 900px;
}

.studentResultsContainer .studentResults, .bookResultsContainer .bookResults
	{
	max-height: 250px;
}

.feature {
	position: fixed;
	z-index: 10; /* width: 100%; */
	text-align: center;
	padding: 50px 0;
	left: 100%;
	top: 50%;
	transform: translate(-100%, -50%);
}

.featureBtn {
	width: 150px;
	height: 40px;
	border: none;
	background-color: #e74c3c;
	font-size: 20px;
	color: #2c3e50;
	transition: 0.4s;
	cursor: pointer;
	font-weight: 800;
}

.featureBtn:hover {
	background-color: #feca57;
	color: #ecf0f1;
}

.featureBtnActive {
	background-color: #feca57;
}

.generatingOrReturning {
	padding: 10px 0;
}

.chechOutBtn {
	display: inline-block;
}

.staffInfo .studentResult:after, .studentBorrow .studentResult:after {
	content: "Staff";
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(10%, -10px);
	background-color: grey;
	width: 50px;
	font-size: 20px;
	color: white;
	font-weight: bolder;
}

.studentBorrow .studentResult:after {
	content: "Student";
	width: 70px
}

.enableBook {
	background-color: red;
}

.enableBookTake {
	background-color: #4cd137;
}

.penalty div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border: 1px solid;
	margin: 5px 0;
	padding: 5px 0;
}

.bookResultRight.return {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.penalties label {
	font-size: 15px;
	display: contents;
	width: 49%;
}

.penalties input {
	width: 18px;
}

.penalties {
	width: 50%;
	margin: auto;
	text-align: center;
	font-size: 20px;
}

.returnInfo .bookResultLeft {
	/* width: 70%; */
	
}

.returnInfo .bookResultLeft div, .takeBook .studentBorrow .bookResultLeft div
	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.returnInfo .bookResultLeft div h3 {
	display: inline-block;
	width: 50%;
}

.returnInfo .bookResultLeft div h3:first-child {
	text-align: left;
}

.returnInfo .bookResultLeft div h3:last-child {
	text-align: right;
}

.returnInfo div button, .takeInfo .search button {
	width: 80px;
	height: 30px;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
}

.content2 {
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}

.takeBook .book {
	justify-content: space-around;
	font-size: 25px;
}

.content2Appear {
	z-index: 4;
	opacity: 1;
	visibility: visible;
}

h2.takeBookTitle span:hover {
	color: #feca57;
}

.staffInfo {
	display: contents;
}

}
h2.big_title, .small_title, .report_date {
	text-align: center;
}

.borrow, .reservate, .return {
	text-align: center;
	height: 200px;
	overflow: auto;
}

.borrow table, .reservate table, .return table, .moreContainer table {
	width: 100%;
	text-align: center;
}

.borrow table th, .reservate table th, .return table th, .moreContainer table th
	{
	background-color: #95a5a6;
}

h5.small_title {
	letter-spacing: 2px;
	font-size: 20px;
}

h2.big_title {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 35px;
}

h4.report_date {
	font-size: 25px;
	border-bottom: 1px solid;
	padding: 5px 0;
}

.reservate {
	margin: 20px 0;
}

.borrow table tr, .reservate table tr, .return table tr, .moreContainer table tr
	{
	height: 30px;
}

button.sendReport {
	width: 100%;
	color: #2c3e50;
	background-color: #27ae60;
	transition: 0.4s;
}

button.sendReport:hover {
	background-color: #f1c40f;
	color: #ecf0f1;
}

.borrow table button, .reservate table button, .return table button {
	border: none;
	background-color: #3498db;
	width: 50px;
	height: 30px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 800;
	color: #130f40;
	transition: 0.4s;
}

th:last-child, th:first-child {
	width: 60px;
}

.borrow table button:hover, .reservate table button:hover, .return table button:hover
	{
	background-color: #9c88ff;
	color: #f5f6fa;
}

img {
	width: 50px;
}

.returnCard .borrower div, .returnCard .staff div, .returnCard .borrow_log div,
	.borrowCard .borrower div, .borrowCard .staff div, .borrowCard .borrow_log div,
	.reservateCard .borrower div, .reservateCard .staff div, .reservateCard .borrow_log div
	{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 70%;
	margin: auto;
}

.books {
	width: 60%;
	margin: auto;
}

.books p {
	padding: 0 50px;
	text-align: center;
}

.borrowCard h4, .reservateCard h4 {
	width: 48%;
}

.borrowCard div h4:first-child, .reservateCard div h4:first-child {
	text-align: right;
}

.penalty span {
	font-weight: 800;
}


.staffProfile div.parentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 400px;
    font-size: 20px;
    font-weight: 600;
}

.staffProfile div input {
    height: 30px;
    width: 200px;
    font-size: 18px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
}

.staffProfile div:nth-child(7) {
	flex-direction:column;
}

button.profileResetBtn {
    width: 25px;
    border-radius: 50%;
    height: 25px;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    display: inline;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(10%, -50%);
}

button.profileResetBtn i {
    line-height: 25px;
}

.staffProfile div.parentContainer div {
    position: relative;
}

.password_container label[for=password] i {
    cursor: pointer;
    margin-left: 10px;
}

div.parentContainer:last-child {
	display:block;
	margin: auto;
	text-align:center;
}

.penalties.penalty {    
    height: 600px;
    overflow: scroll;
}