@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Monda', sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 1000px;
	position: relative;
	perspective: 500px;
}

.main div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main button {
	width: 100%;
	height: 30px;
	border: 1px solid #80808063;
	cursor: pointer;
	font-size: 22px;
	background-color: #1abc9c;
	transition: 0.4s;
	font-weight: 700;
	margin-bottom: 10px !important;
}

.main {
	text-align: center;
	border: 1px solid #8080808c;
	padding: 10px 20px;
	margin: 160px 0;
	border-radius: 10px;
	background-color: floralwhite;
	min-width: 600px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.main div, .main button, .main h2 {
	margin-bottom: 50px;
}

.main input {
	width: 220px;
	height: 30px;
	border: 1px solid #80808063;
	padding-left: 5px;
	font-size: 17px;
	border-radius: 6px;
}

.main label {
	font-size: 25px;
	font-weight: 600;
}

.main button:hover {
	background-color: #1abc9c91;
}

h1 {
	text-transform: uppercase;
	background-color: #3498db;
	text-align: center;
	overflow-wrap: break-word;
	width: 80%;
	margin: auto;
	background: linear-gradient(#0984e3, #74b9ff, #0984e3);
	letter-spacing: 6px;
}

.main p {
	font-size: 20px;
	color: red;
	height: 25px;
	opacity: 0;
	visibility: hidden;
}

.background {
	position: absolute;
	z-index: 1;
	height: 100%;
	filter: blur(2px);
}

.background img {
	height: 100%;
	object-fit: cover;
}

.main input {
	font-size: 25px;
	padding-left: 8px;
}

.main h2 {
	font-size: 40px;
}

.main button {
	margin-bottom: 0 !important;
}

.main a {
	display: block;
	text-align: right;
	margin: 5px 0;
	font-size: 18px;
	transition: 0.4s;
}

.main a:hover {
	color: red;
}

.black2 {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
}

.black2Appear {
	opacity: .95;
	visibility: visible;
}

.forgetPassContainer {
	background-color: #81ecec;
	width: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateX(-90deg);
	border-radius: 5px;
	text-align: center;
	padding: 10px 0;
	z-index: 10;
	transform-origin: 50% 0%;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease;
}

.forgetPassContainer span {
	color: red;
}

.forgetPassContainerAppear {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) rotateX(0deg);
}

h2.big_title {
	text-align: center;
	font-size: 40px;
	letter-spacing: 5px;
	margin-bottom: 10px;
	position: relative;
}

.divParent {
	width: 362px;
	margin: auto;
	margin: 20px auto;
	position: relative;
}

.checkPasscode {
	margin: auto;
}

.forgetPassContainer input {
	border: none;
	height: 25px;
	width: 300px;
	margin-bottom: 5px;
	padding-left: 5px;
	font-size: 18px;
}

.forgetPassContainer button {
	display: block;
	margin: auto;
	width: 90px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	height: max-content;
	padding: 2px 2px;
	background-color: #e17055;
	font-size: 18px;
	transform: scale(1);
}

.forgetPassContainer button:hover {
	transform: scale(1.1);
}

.account, .verifyPasscode, .createNewPassword {
	display: none;
	transition: 0.4s;
	transform: scale(0);
	font-size: 18px;
}

.accountAppear {
	transform: scale(1);
}

.createNewPassword {
	flex-direction: column;
}

.searchAccount::after {
	content: "Invalid email";
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%) scale(0);
	color: red;
	font-size: 22px;
	transition: 0.5s;
}

.invalidMail::after {
	transform: translateX(-50%) scale(1);
}

.userDoesNotExist::after {
	content: "User does not exist";
	transform: translateX(-50%) scale(1);
	width: 230px;
}

.account img {
	width: 100px;
}

.verifyPasscode p::after,
	.createNewPassword p.passwordP:after,
	.doesNotMatchPassword p.passwordP::after {
	content: "Incorrect password";
	display: block;
	color: red;
	transform: scale(0);
	transition: 0.4s ease;
	height: 0;
	overflow: hidden;
}

.incorrectPasscode p::after, .incorrectFormatPasscode p::after,
	.emptyPasscode p::after, .emptyPassword p.newPassword::after,
	.emptyPassword p.confirmPassword::after,
	.emptyPassword p.doesNotMatchPassword::after {
	transform: scale(1);
	height: fit-content;
}

.incorrectFormatPasscode p::after {
	content: "Passcode must contain numbers only";
}

.emptyPasscode p::after {
	content: "Required";
}

.emptyPassword p.newPassword::after, .emptyPassword p.confirmPassword::after
{
	content: "Required";
}

.doesNotMatchPassword p.confirmPassword::after {
	content: "Password does not match";
}

.resetPasswordSuccessfully {
    background-color: #dff9fb;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateX(85deg) scale(0.1);
    transition: 0.4s;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    transform-origin: 50% 0;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.test {
	opacity: 1;
    visibility: visible;
    animation: test .4s linear forwards;
}

@keyframes test{
    0% {
        transform: translateX(-50%) translateY(-50%) rotateX(85deg) scale(0.1);
    }
    25% {
        transform: translateX(-50%) translateY(-50%) rotateX(80deg) scale(0.25);
    }
    50% {
        transform: translateX(-50%) translateY(-50%) rotateX(70deg) scale(0.5);
    }
    75% {
        transform: translateX(-50%) translateY(-50%) rotateX(60deg) scale(0.75);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotateX(0deg) scale(1);
    }
}

span.clearBtn {
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
    right: 2%;
    top: 0;
    cursor: pointer;
    background-color: #535c68;
    padding: 3px;
    transition: 0.4s;
    border-radius: 5px;
}

span.clearBtn:hover {
    background-color: #f6e58d;
    transform: scale(1.1);
}