* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Monda', sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
	position: relative;
	min-width: 1000px;
}

.background {
	position: absolute;
	z-index: 1;
	height: 100%;
	filter: blur(2px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d2dae2;
}

.background img {
	height: 100%;
	object-fit: cover;
}

nav {
	position: fixed;
	z-index: 1004;
	width: 300px;
	height: 100vh;
	background-color: #3498db;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bolder;
	top: 0;
	left: -300px;
	transition: 0.4s;
}

nav span {
	text-align: right;
	display: block;
	margin: 20px;
}

nav span, nav a {
	transition: 0.4s;
	cursor: pointer;
	text-decoration: none;
	color: #ecf0f1;
}

nav span:hover, .toggle:hover p {
	color: #f1c40f;
}

nav li {
	margin: 30px 19px;
	text-align: left;
	list-style: none;
	cursor: pointer;
}

nav li:hover a {
	color: #f1c40f;
}

.active {
	color: #f1c40f;
}

.toggle {
	position: fixed;
	z-index: 999;
	left: 0;
	width: 50px;
	height: 70px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #3498DB;
	cursor: pointer;
	transition: 0.4s;
	color: #ecf0f1;
}

.toggle p {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	display: inline-block;
	font-size: 22px;
	transition: 0.4s;
	font-weight: 600;
}

nav button, button.sendReport, .staffProfile button , .brokenContainer .addBrokenBtn {
	width: 70%;
	font-size: 25px;
	font-weight: 700;
	color: #ecf0f1;
	border: none;
	background-color: #e74c3c;
	cursor: pointer;
	transition: 0.4s;
	height: 40px;
	line-height: 40px;
}

.staffProfile button {
	margin: auto;
}

nav button:hover, .brokenContainer .addBrokenBtn:hover {
	transform: scale(1.1);
}

.navAppear {
	left: 0px;
}

.toggleMove {
	left: 300px;
	opacity: 0;
	visibility: hidden;
}

.black, .black2 {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
}

.black2 {
	z-index: 1001;
}

.black2Appear {
	opacity: .95;
	visibility: visible;
}

.blackAppear {
	opacity: .4;
	visibility: visible;
}

/* Popup */
.reportContainer, .moreContainer, .returnCard, .borrowCard,
	.reservateCard, .punishmentCard, .warning, .addSuccessful,
	.otherContainer, .staffProfile {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1) rotate(0deg);
	background-color: #ecf0f1;
	min-width: 900px;
	padding: 10px 10px;
	z-index: 1000;
	border-radius: 10px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	transform-origin: 50% 50%;
}

.moreContainer {
	z-index: 1002;
}

.reportContainerAppear {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

.warning, .addSuccessful {
	text-align: center;
	transform: translate(-200%, -50%) scale(1) rotate(0deg);
}

.warningAppear {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

.warning span {
	color: red;
}

.warning h3 {
	margin: 15px 0;
	font-size: 25px;
}

p.notify {
	color: red;
	font-size: 24px;
}

.searchArea {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.searchArea .rigth {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.searchArea .rigth .rigth1 div {
	width: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.searchArea .rigth .rigth2 input {
	width: 100%;
}

.searchArea .rigth .rigth1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.searchContainer img {
	width: 50px;
}

.setManangerSuccessfull {
	display: none;
	text-align: center;
	transform: translate(-50%, -50%) scale(0) rotate(0deg);
	position: fixed;
	left: 50%;
	top: 50%;
	transition: 0.4s;
	background-color: #ecf0f1;
	min-width: 900px;
	padding: 10px 10px;
	z-index: 1000;
}

.otherContainer div {
	width: 700px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 25px;
	font-weight: 600;
}

.setManangerSuccessfullAppear {
	transform: translate(-50%, -50%) scale(1) rotate(360deg);
}