@import url("nav.css");

h1.title {
	text-align: center;
	font-size: 50px;
}

.content, .books_container {
	width: 95%;
	margin: auto;
	position: relative;
}

.books_container {
	position: relative;
	overflow: hidden;
}

.content img {
	width: 50px;
}

table.books, .next, .previous {
	transition: 0.4s;
	width: 92%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

table.books button, .button_add_container button.button_add {
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	font-size: 25px;
	border-radius: 50%;
	line-height: 40px;
	color: #dfe6e9;
}

table.books button:first-child {
	background-color: #c0392b;
}

table.books button:last-child {
	background-color: #27ae60;
}

table.books button:last-child:hover {
	background-color: #2ecc71;
}

table.books button:first-child:hover {
	background-color: #e74c3c;
}

.moveRight {
	left: 0 !important;
	top: 50% !important;
	visibility: hidden;
	opacity: 0;
	transform: translate(100%, -50%) !important;
}

.moveLeft {
	left: 0 !important;
	top: 50% !important;
	transform: translate(-100%, -50%) !important;
	visibility: hidden;
	opacity: 0;
}

div.pages {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: fit-content;
	margin: -2px 0;
}

span.previous, span.next {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	cursor: pointer;
	background-color: #0984e3;
	border-radius: 50%;
	color: #2d3436;
	transition: 0.4s;
}

span.previous {
	left: 2%;
}

span.next {
	left: 98%;
}

span.previous:hover, span.next:hover, div.pages span:hover {
	color: #dfe6e9;
	background-color: #00cec9;
}

div.pages span {
	margin: 0 -1px;
	background-color: #0984e3;
	color: #2d3436;
	font-size: 20px;
	font-weight: 900;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	transition: 0.4s;
}

table.books, table.books th, table.books td {
	border: 1px solid grey;
	border-collapse: collapse;
}

table.books tbody tr:first-child {
	background-color: #718093;
	color: #f5f6fa;
	font-size: 20px;
}

.add_form {
	background-color: #95afc0;
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.4s;
	width: 900px;
	border-radius: 28px;
	opacity: 0;
	visibility: hidden;
}

.add_form.appear {
	opacity: 1;
	visibility: visible;
}

.add_form form {
	width: 100%;
	height: 100%;
}

.add_form form h2 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin: 10px 0;
}

.add_form form div {
	margin: 30px 20px;
	padding: 0 100px;
}

.add_form form input, .add_form form select {
	float: right;
	width: 360px;
	height: 30px;
	font-size: 18px;
	border: none;
	padding: 0 10px;
	border-radius: 15px;
}

.add_form form label {
	font-size: 18px;
	font-weight: 900;
}

.add_form form button {
	width: 200px;
	height: 30px;
	margin: 10px auto;
	background-color: #6ab04c;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.4s;
	font-size: 20px;
	font-weight: 800;
	line-height: 30px;
}

.add_form form div:last-child {
	text-align: center;
}

table.books tr {
	height: 60px;
	font-size: 18px;
	font-weight: 600;
	transition: 0.4s;
}

html, body {
	min-width: 1460px;
	position: relative;
	background-color: #f5f6fa;
	height: 100vh;
}

.button_add_container button.button_add {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #0097e6;
	z-index: 10000;
}

.button_add_container button.button_add:hover {
	background-color: #00a8ff;
	color: #353b48;
}

.slide_active {
	
}

div.pages .page_active {
    background-color: #f1c40f;
}

.add_form h2 i {
    float: right;
    cursor: pointer;
    color: #e74c3c;
    transition: 0.4s;
}

.add_form h2 i:after{
	content: "";
	clear: both;
}

.add_form h2 i:hover {
    color: #c0392b;
}	

table.books tr:hover {
    background-color: #00a8ff;
}

table.books tr:first-child:hover {
    background-color: #718093;
}

.reportContainer, .moreContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    background-color: #ecf0f1;
    min-width: 900px;
    padding: 10px 10px;
    z-index: 1000;
    border-radius: 10px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform-origin: 50% 50%;
}

.moreContainer {
	z-index: 1002;
}

.reportContainerAppear {
	opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

h2.big_title, .small_title, .report_date {
    text-align: center;
}

.borrow, .reservate, .return {
    text-align: center;
    height: 200px;
    overflow: auto;
}

.borrow table, .reservate table, .return table , .moreContainer table{
    width: 100%;
    text-align: center;
}

.borrow table th, .reservate table th, .return table th , .moreContainer table th{background-color: #95a5a6;}

h5.small_title {
    letter-spacing: 2px;
    font-size: 20px;
}

h2.big_title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 35px;
}

h4.report_date {
    font-size: 25px;
    border-bottom: 1px solid;
    padding: 5px 0;
}

.reservate {margin: 20px 0;}

.borrow table tr, .reservate table tr, .return table tr , .moreContainer table tr{
    height: 30px;
}

button.sendReport {
    width: 100%;
    color: #2c3e50;
    background-color: #27ae60;
    transition: 0.4s;
}

button.sendReport:hover {
    background-color: #f1c40f;
    color: #ecf0f1;
}

.borrow table button, .reservate table button, .return table button {
    border: none;
    background-color: #3498db;
    width: 50px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    color: #130f40;
    transition: 0.4s;
}

th:last-child, th:first-child {
    width: 60px;
}

.borrow table button:hover, .reservate table button:hover, .return table button:hover {
    background-color: #9c88ff;
    color: #f5f6fa;
}

img {
    width: 50px;
}